# Map the informations of our different data sets to correlate Phenomenological data with fc-IRMf data

*And plot the different structures of the datasets for clarity purposes*

In [10]:
import pandas as pd
import numpy as np 
import os

data_path = '/home/romy.beaute/projects/hypnomed/data/participants'

In [13]:
df_composite_score = pd.read_pickle(os.path.join(data_path,'composite_score.pkl'))
df_composite_score.head()

    id group  attentional_factor  constructive_factor  deconstructive_factor
21  25   exp            1.400936             1.524942               0.965556
22  26   nov            1.102868            -0.060134               0.389850
23  27   nov            0.592654             1.520855               0.173477
24  28   nov           -0.330921            -0.419319              -0.472394
25  29   nov            0.981388             1.157583               0.577418

In [14]:
df_hypnomed = pd.read_csv(os.path.join(data_path,'hypnomed.csv'),sep=';')
subs_order = df_hypnomed['sub_order'].tolist() #order of subjects wrt to their scan session
df_hypnomed.head()

,sub_name,sub_id,neucose_id,version,rs_run-1,rs_run-2,rs_run-3,sub_order
0,EH070,sub-01,NEUCOSE_ELSES07842,B,control,hypnose,meditation,70
1,LP087,sub-02,NEUCOSE_LECPA07862,A,control,meditation,hypnose,87
2,HM076,sub-03,NEUCOSE_HARMA07939,A,control,meditation,hypnose,76
3,BA043,sub-04,NEUCOSE_BUEAL07925,A,control,meditation,hypnose,43
4,BA093,sub-05,NEUCOSE_BLUAL07960,B,control,hypnose,meditation,93

In [66]:
df_phenoscore = pd.read_csv('/home/romy.beaute/projects/hypnomed/analysis/pheno_stats/questionnaires_hypnomed.csv')

df_phenoscore.head()

,sub_order,sub_name,sub_id,id,group,rs_run-1,rs_run-2,rs_run-3,MH,HM,phenoscore_control,phenoscore_meditation,phenoscore_hypnose,outlier,outlier_phenoscores
0,70,EH070,sub-01,1,G2,control,hypnose,meditation,0,1,-0.285714,-0.571429,1.714286,0,0
1,87,LP087,sub-02,2,G1,control,meditation,hypnose,1,0,-0.500000,-0.500000,0.500000,0,0
2,76,HM076,sub-03,3,G1,control,meditation,hypnose,1,0,0.250000,0.000000,2.250000,0,0
3,43,BA043,sub-04,4,G1,control,meditation,hypnose,1,0,0.800000,-0.600000,0.200000,0,0
4,93,BA093,sub-05,5,G2,control,hypnose,meditation,0,1,0.500000,0.375000,-0.125000,0,0

In [73]:
df_pheno = pd.read_csv('/home/romy.beaute/projects/hypnomed/analysis/pheno_stats/Datas_Prisca.csv',sep=';')
df_pheno = df_pheno.loc[df_pheno['Sujet'].isin(subs_order)]
dict_id_order = dict(zip(df_hypnomed.sort_values('sub_order').sub_order,df_hypnomed.sort_values('sub_order').sub_id))
reordered_subs = df_hypnomed.sort_values('sub_order').sub_id.tolist() #sorting the sub-0x wrt to the sub_order to retrieve mapping between df_pheno and irmf data
reordered_subs = list(np.repeat(reordered_subs,2)) #x2 because we get the value for each block condition (meditation and hypnosis only) for each subject 
df_pheno['Sub-id']=reordered_subs
df_pheno['group']=list(np.repeat(df_phenoscore['group'],2))
df_pheno = df_pheno.sort_values('Sub-id')
df_pheno['id']=list(np.repeat(df_phenoscore['id'],2))
keep_cols = ['Sujet', 'Sub-id','group','Bloc', 'states','difficulty_delta', 'Pheno_Etat_delta','id','age','genre','Hypnos_exp', 'Medit_exp'] #keep only the informations of interest, for clarity purpose
df_pheno = df_pheno[keep_cols]
df_pheno.to_csv(os.path.join(data_path,'data_pheno.csv'))
df_pheno

,Sujet,Sub-id,group,Bloc,states,difficulty_delta,Pheno_Etat_delta,id,age,genre,Hypnos_exp,Medit_exp
132,70,sub-01,G2,3,Meta_awareness,5,0.625000,1,28,Homme,Hypn:0,Medit:1
133,70,sub-01,G2,2,Absorption,13,1.750000,1,28,Homme,Hypn:0,Medit:1
166,87,sub-02,G1,3,Absorption,-3,1.471667,2,24,Homme,Hypn:0,Medit:1
167,87,sub-02,G1,2,Meta_awareness,-4,-0.410000,2,24,Homme,Hypn:0,Medit:1
145,76,sub-03,G2,2,Meta_awareness,-11,0.000000,3,22,Femme,Hypn:0,Medit:0
...,...,...,...,...,...,...,...,...,...,...,...,...
92,50,sub-38,G2,3,Meta_awareness,8,1.625000,38,31,Femme,Hypn:0,Medit:1
184,96,sub-39,G2,3,Absorption,-1,1.330000,39,31,Homme,Hypn:1,Medit:1
185,96,sub-39,G2,2,Meta_awareness,-3,1.750000,39,31,Homme,Hypn:1,Medit:1
7,5,sub-40,G1,2,Meta_awareness,-15,-0.745000,40,20,Femme,Hypn:0,Medit:1
6,5,sub-40,G1,3,Absorption,-12,2.630000,40,20,Femme,Hypn:0,Medit:1

In [74]:
print(' - G1 : meditation in block 2, hypnose in block 3\n - G2 : meditation in block 3, hypnose in block 2')
df_pheno_meditation = df_pheno[df_pheno['states']=='Meta_awareness']
print(' - n={} subjects in meditation'.format(len(df_pheno_meditation)))

medit_Difficulty_dict = dict(zip(df_pheno_meditation['Sub-id'],df_pheno_meditation['difficulty_delta']))
medit_PhenoEtat_dict = dict(zip(df_pheno_meditation['Sub-id'],df_pheno_meditation['Pheno_Etat_delta']))

df_pheno_meditation.head()

 - G1 : meditation in block 2, hypnose in block 3
 - G2 : meditation in block 3, hypnose in block 2
 - n=40 subjects in meditation

,Sujet,Sub-id,group,Bloc,states,difficulty_delta,Pheno_Etat_delta,id,age,genre,Hypnos_exp,Medit_exp
132,70,sub-01,G2,3,Meta_awareness,5,0.625,1,28,Homme,Hypn:0,Medit:1
167,87,sub-02,G1,2,Meta_awareness,-4,-0.410,2,24,Homme,Hypn:0,Medit:1
145,76,sub-03,G2,2,Meta_awareness,-11,0.000,3,22,Femme,Hypn:0,Medit:0
78,43,sub-04,G2,3,Meta_awareness,-1,-0.585,4,21,Homme,Hypn:0,Medit:0
178,93,sub-05,G2,3,Meta_awareness,10,0.800,5,24,Homme,Hypn:1,Medit:1

In [75]:
print(' - G1 : meditation in block 2, hypnose in block 3\n - G2 : meditation in block 3, hypnose in block 2')
df_pheno_hypnose = df_pheno[df_pheno['states']=='Absorption']
print(' - n={} subjects in hypnose'.format(len(df_pheno_hypnose)))

hypno_Difficulty_dict = dict(zip(df_pheno_hypnose['Sub-id'],df_pheno_hypnose['difficulty_delta']))
hypno_PhenoEtat_dict = dict(zip(df_pheno_hypnose['Sub-id'],df_pheno_hypnose['Pheno_Etat_delta']))

df_pheno_hypnose.head()

 - G1 : meditation in block 2, hypnose in block 3
 - G2 : meditation in block 3, hypnose in block 2
 - n=40 subjects in hypnose

,Sujet,Sub-id,group,Bloc,states,difficulty_delta,Pheno_Etat_delta,id,age,genre,Hypnos_exp,Medit_exp
133,70,sub-01,G2,2,Absorption,13,1.750000,1,28,Homme,Hypn:0,Medit:1
166,87,sub-02,G1,3,Absorption,-3,1.471667,2,24,Homme,Hypn:0,Medit:1
144,76,sub-03,G2,3,Absorption,-3,1.833333,3,22,Femme,Hypn:0,Medit:0
79,43,sub-04,G2,2,Absorption,7,0.250000,4,21,Homme,Hypn:0,Medit:0
179,93,sub-05,G2,2,Absorption,20,1.000000,5,24,Homme,Hypn:1,Medit:1

In [83]:
pd.read_pickle(os.path.join(data_path,'composite_score.pkl')).head()

    id group  attentional_factor  constructive_factor  deconstructive_factor
21  25   exp            1.400936             1.524942               0.965556
22  26   nov            1.102868            -0.060134               0.389850
23  27   nov            0.592654             1.520855               0.173477
24  28   nov           -0.330921            -0.419319              -0.472394
25  29   nov            0.981388             1.157583               0.577418